<footer>
	<div class="row">
		<div class="small-12 medium-3 columns">
			<h4>Contact</h4>
			<p><i class="fa fa-phone fa-lg" aria-hidden="true"></i> 01234 567890</p>
			<p><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email Us</a></p>
			<p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Street, City, Country</p>
			<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
			<i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
			<i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
			<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
        </div>
        <div class="small-12 medium-3 columns">
        	<h4>Sign up for our newsletter</h4>
        	<input type="text" placeholder="Name">
        	<input type="text" placeholder="Email">
        	<a class="button expanded hollow" href="#">Submit</a>
		</div>
		<div class="small-12 medium-6 columns">
			<h4>Drop Us a Note</h4>
			<div class="row expanded">
				<div class="small-12 medium-5 columns">
					<input type="text" placeholder="Name">
					<input type="email" placeholder="Email">
				</div>
				<div class="small-12 medium-7 columns">
					<textarea placeholder="Message" rows="3"></textarea>
				</div>
			</div>
			<a class="button expanded hollow" href="#">Submit</a>

		</div>
	</div>
</footer>