<footer>
	<div class="color-strip">
		<div class="row">
			<div class="small-12 medium-6 columns">
				<h5>Let's Connect</h5>
			</div>
			<div class="small-12 medium-6 columns">
				<span class="social"><a href="/social"><i class="fab fa-facebook fa-2x"></i></a> <a href="/social"><i class="fab fa-twitter-square fa-2x"></i></a> <a href="/social"><i class="fab fa-youtube-square fa-2x"></i></a></span>
			</div>
		</div>
	</div>
	<div class="middle">
		<div class="row">
			<div class="small-12 medium-3 columns">
				<h4>Contact</h4>
				<p>There are many ways to get in touch with us.</p>
				<p><i class="fas fa-mobile fa-fw"></i> <strong>01234 567890</strong></p>
				<p><i class="far fa-envelope fa-fw"></i> <strong><a href="#">Email Us</a></strong></p>
				<p><i class="fas fa-location-arrow fa-fw"></i> <strong>Street, City, Country</strong></p>
        	</div>
        
        	<div class="small-12 medium-3 columns">
        		<h4>The Captain's Blog</h4>
        		
			</div>
		
			<div class="small-12 medium-3 columns">
				<h4>Mailing List</h4>
				<p>Find out where we are and what we're going to do next!</p>
				<div class="input-group">
				  <input class="input-group-field" type="text" placeholder="Your Email">
				  <div class="input-group-button">
				    <input type="submit" class="button" value="Submit">
				  </div>
				</div>
			</div>

			<div class="small-12 medium-3 columns">
				<h4>Photo Feed</h4>
				<div class="gutter-small">
				    <img src="https://placehold.it/75x75" class="thumbnail" alt="">
				</div>
				<div class="gutter-small">
				    <img src="https://placehold.it/75x75" class="thumbnail" alt="">
				</div>
				<div class="gutter-small">
				    <img src="https://placehold.it/75x75" class="thumbnail" alt="">
				</div>
				<div class="gutter-small">
				    <img src="https://placehold.it/75x75" class="thumbnail" alt="">
				</div>
				<div class="gutter-small">
				  	<img src="https://placehold.it/75x75" class="thumbnail" alt="">
				 </div>
				 <div class="gutter-small">
				  	<img src="https://placehold.it/75x75" class="thumbnail" alt="">
				 </div>
			</div>
		</div>
	</div>
	<div class="color-strip">
		<div class="row">
			<div class="small-12 medium-6 columns">
				<p>&copy; 2018 Some Company</p>
			</div>
			<div class="small-12 medium-6 columns">
				<span class="social"><a href="#top"><i class="fas fa-arrow-up fa-2x"></i></a></span>
			</div>
		</div>
	</div>
</footer>