<div class="card" data-equalizer data-equalize-on="medium" >
	<div class="img-holder">
		{{ if sale }}
		<div class="ribbon-wrapper-green">
			<div class="ribbon-green">SALE</div>
		</div>
		{{ endif }}
		
		{{ assets:product_image }}
			<a href="{{ url }}"><img src="{{ glide:url width="310" height="200" fit="crop" }}"></a>
		{{ /assets:product_image }}
		
	</div>
	
	<div class="card-section" data-equalizer-watch>
		<p class="text-center label-offset"><span class="label">{{ taxonomy:products }}{{ title }}{{ /taxonomy:products }}</span></p>
		<h5><strong>{{ title }}</strong></h5>
		<p>{{ short_description }}</p>
	</div>

		{{ if !sale_price }}
			<a href="{{ url }}"><h4 class="text-center">${{ price }}</h4></a>
		{{ else }}
			<h4 class="text-center"><span style="text-decoration: line-through;">${{ price }}</span> &nbsp;&nbsp; <a href="{{ url }}" class="sale">${{ sale_price }}</h4></a>
		{{ endif }}

	
	<a href="{{ url }}" class="button expanded">More</a>
	
</div>