<div class="card">
	<div class="img-holder">
	
		<div class="ribbon-wrapper-green">
			<div class="ribbon-green">SALE</div>
		</div>
		
		<a href="/products/commemorative-mug"><img src="https://placehold.it/325x160"></a>
		
	</div>
	
	<div class="card-section">
		<p class="text-center label-offset"><span class="label">Default Label</span></p>
		<h5><strong>Commemorative Mug</strong></h5>
		<p>This is the short description of the product</p>
		
		<!--<span class="sale"><h4 class="text-center">25% OFF &nbsp;-&nbsp; <a href="/products/commemorative-mug">$100.00</a></h4></span>-->
		
		<a href="/products/commemorative-mug"><h4 class="text-center">$100.00</h4></a>
		
	</div>
	
	<a href="/products/commemorative-mug" class="button expanded">More</a>
	
</div>