{{ partial:header }}

<div class="container">
    {{ content }}

	<article>

	<div class="row align-center">
		<div class="small-12 medium-8">
			<div class="blog-post">
				<h3 class="text-center">Awesome blog post title</h3>
				<img class="thumbnail" src="https://placehold.it/960x400">
				<p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
				
				<div class="callout">
					<span>3/6/2016</span> <span>Author: <a href="#">Mike Mikers</a></span> <span>Comments: <a href="#">3</a></span>
				</div>
			</div>
		</div>
	</div>
    
   {{ partial:pagination }}

  </article>
  
</div>