{{ partial:header }}

<div class="container">

	<div class="row align-center">
		
			{{ collection:blog as="posts" limit="10" paginate="true" }}
			
				{{ if no_results }}
				       <p>Aww, there are no results.</p>
				{{ /if }}
				
				<div class="small-12 medium-8">   
			    {{ posts }}
			    	<article>
			        	<div class="blog-post">
			        		<a href="{{ url }}"><h3 class="text-center">{{ title }}</h3></a>
			        		<a href="{{ url }}"><img class="thumbnail" src="https://placehold.it/960x400"></a>
			        		
			        		<p>{{ excerpt }}</p>
			        		
			        		<div class="callout">
			        			<span>{{ date }}</span> <span>Author: {{ member:profile member="{ author }" }}{{ first_name }} {{ last_name }} {{ /member:profile }}</span> <span>Comments: <a href="#">3</a></span>
			        		</div>
			        	</div>
			        </article> 
			    {{ /posts }}    
			    </div>
			    
			    <div class="small-12 text-center">
			    {{ paginate }}

			    	<a href="{{ prev_page }}">⬅ Previous</a> | {{ current_page }} of {{ total_pages }} | <a href="{{ next_page }}">Next ➡</a>
			    {{ /paginate }}
			    </div> 
			       
			{{ /collection:blog }}

	</div>
  
</div>