{{ partial:header }}

<div class="container">

    {{ content }}
    
    <div class="row">
    	<div class="small-12 medium-3 columns">
    		<h4>Drop Us a Note</h4>
    		<div class="row expanded">
    			<div class="small-12 medium-5 columns">
    				<input type="text" placeholder="Name">
    				<input type="email" placeholder="Email">
    			</div>
    			<div class="small-12 medium-7 columns">
    				<textarea placeholder="Message" rows="3"></textarea>
    			</div>
    			<a class="button expanded hollow" href="#">Submit</a>
    		</div>
    	</div>
    </div>
</div>

