{{ partial:header }}

<div class="container">
    {{ content }}
    
	<article>
	
	<div class="row small-up-1 medium-up-2 large-up-4">
	
		<div class="column column-block">
			<div class="card">
				<div class="card-divider">
					<a href="/products/commemorative-mug" class="text-center"><h5><strong>Commemorative Mug</strong></h5></a>
				</div>
				<a href="/products/commemorative-mug"><img src="https://placehold.it/325x160"></a>
				<div class="card-section">
					<p class="text-center label-offset"><span class="label">Default Label</span></p>
					<p>This is the short description of the product</p>
					<a href="/products/commemorative-mug"><h4 class="text-center">$100.00</h4></a>
				</div>
				<a href="/products/commemorative-mug" class="button large expanded">More Info</a>
			</div>
		</div>
					
	</div>
	</article>
	
</div>
